* {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

table {
    margin: auto;
}















/* ----------FOOTER---------- */

.footer {
    text-align: center;
    margin-block-start: 30px;
    font-size: 10px;
}